<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css?t=1533718599" media="all">
    <link rel="stylesheet" href="/static/css/login.css?t=1533718599" media="all">
</head>
<body>
<div class="layui-carousel video_mask bg-img" id="login_carousel" >
    <div class="login layui-anim layui-anim-up">
        <h1>chnweek管理后台</h1></p>
        <form class="layui-form" action="" method="post">
            <div class="layui-form-item">
                <input type="text" name="userName"  placeholder="请输入账号" autocomplete="off"  value="{{.userName}}" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input type="password" name="password"  placeholder="请输入密码" autocomplete="off" value="" class="layui-input">
            </div>
            <input id="saveButton" type="button" class="layui-btn login_btn" value="登录"/>
        </form>
    </div>
</div>
<script src="/static/js/jquery-2.2.2.js?t=1533718599" charset="utf-8"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/layui/layui.js?t=1533718599" charset="utf-8"></script>
<!-- <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>-->
<script type="text/javascript">
    $("#saveButton").on('click',function() {
        var userName = $("input[name=userName]").val();
        var password = $("input[name=password]").val();
        if (userName == "") {
            layer.msg('请输入账号',{icon: 5});
            return false;
        }
        if (password == "") {
            layer.msg('请输入密码',{icon: 5});
            return false;
        }
        $.post('/login',{userName:userName,password:password},function(data,status){
            if (status == 'success') {
                if (data.code == 200){
                    window.location.href="/";
                } else {
                    layer.msg(data.msg,{icon: 5});
                }
            }else {
                layer.msg('登入失败，请稍后再试',{icon: 5});
            }
        });
    });
</script>
</body>
</html>



